{% extends "base.html" %}

{% block content %}
  <h1>To-Do List<h1>

    <div>
    {% if session['logged_in'] %}
      <ul>
        {% for todo in list %}
          <li>
            {% if todo[2] == 1 %}
              <strike>{{ todo[1] }}</strike>
              [<a href={{'/uncomplete?id=' + todo[0]|string}}>Mark Uncomplete</a>]
              [<a href={{'/delete?id=' + todo[0]|string}}>Delete Item</a>]
            {% else %}
              {{ todo[1] }}
              [<a href={{'/complete?id=' + todo[0]|string}}>Mark Complete</a>]
              [<a href={{'/delete?id=' + todo[0]|string}}>Delete Item</a>]
            {% endif %}
          </li>
        </ul>
        {% endfor %}
      </div>

      <form action="" method="post" role="form">
        <input type="text" name="todo" placeholder="New Item">
        <br><input type="submit" value="Add Item">
      </form>
    {% else %}
      <p size=16>
        Welcome to the To-Do List Web App.<br><br>
        If you are a new user, you can sign up
        <u><a href="/signup">here</a></u>.<br>
        If you already have an account, login
        <u><a href="/login">here</a></u>.<br><br>
        May you complete many tasks!
      </p>
    {% endif %}
{% endblock %}
